.portfolio {
  /* background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8),
    rgba(240, 240, 255, 0.5)
  ); */
  background: var(--transparent-color);
  padding: 4rem 2rem;
  text-align: center;
}

.portfolio-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.portfolio-description {
  font-size: 1rem;
  color: var(--text-dark);
  margin-bottom: 3rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.portfolio-card {
  background: var(--background-light);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-image img {
  width: 100%;
  height: auto;
  border-bottom: 4px solid var(--secondary-color);
}

.card-content {
  padding: 1.5rem;
  text-align: left;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 1rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-item {
  background: var(--primary-color);
  color: var(--text-light);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Responsividad */
@media (max-width: 768px) {
  .portfolio-title {
    font-size: 2rem;
  }

  .portfolio-description {
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-description {
    font-size: 0.9rem;
  }

  .tech-item {
    font-size: 0.7rem;
  }
}
